body {
	background-image: url(images/cosmic.jpg);
	background-repeat: no-repeat;
	background-size: cover
	display: inline-block;	
}

h1 {
	font-family: Tangerine;
	color: #fbe8fa;
	text-align: center;
	font-size: 70px;
	font-weight: bold;
	margin: 0px;
}

h2 {
	font-family: Tangerine;
	color: #fbe8fa;
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	margin:0px;
}
#gameInfo {
	float: left;
	padding-left: 250px;
}

#score {
	width: 390px;
	height: 200px;
}

#wins {
	padding: 10px;
}

#losses {
	padding: 10px;

}

#guesses {
	width: 390px;
	height: 200px;
}

#guessesLeft {
	padding: 10px;
}

#guessesSoFar {
	padding: 10px;
}

#button {
	width: 390px;
	height: 100px;
}

button {
    background-color: transparent; /* Green */
    border: 5px solid #23175a;
    font-family: Amatic SC;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    border-radius: 12px;

}

p {
	font-family: Amatic SC;
	font-size: 32px;
	font-weight: bold;
	color: white;
	display: inline-block;
}

#pizzacrystal {
	float: right;
	padding-right: 250px;
	
}
